<!-- <div *ngFor="let list of notesObject">
    <div>{{list.moyennGlobale}}</div>
</div> -->
<p>Moyenne de la classe par matières :</p>
<div class="container row">
    <div class="card col-lg-4" *ngFor="let matiere of listMoyenneClasseParMatiere">        
        <div>
            <p>Matiere: {{matiere.nomMatiere}}</p>
            <p>Moyenne: {{matiere.moyenne}}</p>
        </div>
    </div>
</div>

<p>Moyenne et notes par étudiants :</p>
<div class="container row" >
    <div class="card col-lg-4" *ngFor="let i = index; let notesObject of noteObjectEtudiant">
        <div class="card-header">
            <div>notes de : {{notesObject.etudiant.nom.toUpperCase()}}, {{notesObject.etudiant.prenom}}</div>
            <button (click)="setVisibility()">Voir les Notes</button>
        </div>
        <div class="card-body" [hidden]="noteByEtudiantVisibility === true">
            <div *ngFor="let note of notesObject.notesList">
                <p>Matière : {{note.nomMatiere}}</p>
                <p>Oral : {{note.noteOral}}</p>
                <p>Écrit : {{note.noteEcrit}}</p>
                <p>Moyenne : {{note.noteMoyenne}}</p>
                
                <br>
            </div>
        </div>
        <div class="card-footer">
            <p>Moyenne générale de: {{notesObject.etudiant.nom.toUpperCase()}}, {{notesObject.etudiant.prenom}} </p>
            <p>{{notesObject.moyennGlobale}}</p>
        </div>
    </div>
</div>